@import '../colors';

.daily_weather {
    padding-top: 25px;
    display: flex;
	flex-direction: row;
    justify-content: space-between;
    color: white;
	text-align:center;
    

    &__box {
        
        background: rgb(102,105,218);
        background: linear-gradient(331deg, $orchid-color 20%, $lg-blue-color 84%);
        width: 24%;
        border-radius: 20px;

        @media (min-width: 600px) {
            width: 22%;
        }

    }

    &__icon {
        width: 65%;
        -webkit-filter: drop-shadow(3px 3px 8px $dk-orchid-color);
        filter: drop-shadow(3px 3px 8px $dk-orchid-color);
    }

}